{{!-- Row 1 --}}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Row 2 --}}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>