{{!-- Row 1 --}}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://scontent-yyz1-1.cdninstagram.com/vp/152b05807966f3851203f5c254e77849/5C52A301/t51.2885-15/e35/27578449_1030504220421030_7243779824391553024_n.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams Patch</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://scontent-yyz1-1.cdninstagram.com/vp/6091d97c5bfb8110bb700e245a2ee568/5C555B8D/t51.2885-15/e35/27879698_168020477163665_8414557599696945152_n.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams T-Shirt</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Row 2 --}}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="thumbnail">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Zb3kMivpL._SS500.jpg"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title">Lil Skritt & Enyo Phase</h5>
                    <p class="card-text">Sweat Dreams[Explicit]</p>
                    <div class="clearfix">
                        <div class="price float-left">$10</div>
                        <a href="#" class="btn btn-primary float-right">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>